@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'La Luxes Script';
  src: url('/fonts/LaLuxesScript.ttf') format('ttf'),
    url('/fonts/LaLuxesScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'La Luxes Serif';
  src: url('/fonts/LaLuxesSerif.ttf') format('ttf'),
    url('/fonts/LaLuxesSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    @apply min-h-screen;
  }

  body {
    @apply text-slate-900 dark:text-white min-h-screen bg-white dark:bg-slate-900;
  }

  .button {
    @apply transition-all
      min-w-[11.25rem]
      bg-accent
      py-4
      text-primary
      hover:bg-secondary
      hover:text-white
  }

  .admin-input {
    @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-slate-500 focus:border-slate-500 focus:z-10 sm:text-sm;
  }

  .admin-button {
    @apply relative flex justify-center py-2 px-4 border rounded-md border-transparent text-sm font-medium 
    text-white bg-slate-900
    dark:text-slate-900 dark:bg-white
    hover:text-slate-900 hover:bg-slate-200 
    dark:hover:bg-slate-200
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-600;
  }

  .admin-button__icon-wrapper {
    @apply flex items-center mr-2;
  }

  .admin-button__icon {
    @apply h-5 w-5 text-slate-500 group-hover:text-slate-500;
  }
  
  #__next {
    @apply min-h-screen;
  }

  .admin-form-field__label {
    @apply block text-sm font-medium text-gray-700 dark:text-slate-200;
  }

  .admin-form-field__input {
    @apply mt-1 focus:ring-slate-500 focus:border-slate-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-slate-900;
  }


}